.napisz {
  padding-top: 50px;
}

.napiszObraz{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.napiszFormularz {
  position: relative;
}

.napiszFormularzGrupa {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.napiszIkona {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: gray;
  cursor: pointer;
}

.napiszInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}
.napiszInput:focus {
  outline: none;
}

.napiszTekst {
  font-size: 20px;
  height: 100vh;
}

.napiszPotwierdz {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
