.naglowek{
    margin-top: 60px;
}

.tytulyWNaglowku{
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Lora', serif;
    color: #444;
}

.tytulMaly{
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.tytulDuzy{
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.obrazNaglowek{
    width: 100%;
    height: 350px;
    margin-top: 180px;
    object-fit: cover;

}
 
